/* 100% Counter CSS */


body{
	background-color:#000;
	background-size:100% 100%;
	background-attachment:fixed;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#Frame{
	height:80vh;
	width:750px;
	display:inline-block;
	float:left;
	position: relative;
}

#ScreenFrame{
	height:80vh;
	width:450px;
	margin: 50px 0 0 0;
	position: absolute;
}

.ItemCounter{
	border: 2px solid blue; 
	height:100px;
}

.ItemIcon{
    display: inline-block;
    float:left;
}


#LogoBox{
	margin-left:50px;
	width: 340px;
	height:440px;
	display: inline-block;
	float:left;
}

#UpperBox{
	width: 340px;
	height:125px;
	margin-left:50px;
}

#LowerBox{
	width: 340px;
	height:300px;
	margin-left:50px;
	margin-top:220px;
}

.ItemBox{
	margin-top:2px;
	width:60px;
	height:60px;
    display: inline-block;
    float:left;
    margin-left: 5px;
    z-index: 9;
    cursor:pointer;
}

.itembg{
	width:60px;
	height:60px;
}

.item_icon{
	position: absolute;
	z-index: 10;
}

.item_icon_o{
	position: absolute;
	z-index: 10;
	opacity: 0.25;
}

.item_icon_u{
	position: absolute;
	z-index: 10;
	opacity: 0.25;
}

.CounterText{
	color:#fff;
	z-index: 20;
	position: absolute;
	text-align: right;
	font-size: 23px;
	width: 60px;
	margin-top:36px;
    text-shadow: 0px 0px 4px #c10313;
}


/* Grid CSS */

.main-grid{
  display: grid;
  grid-template-columns: 400px auto 512px 30px;
  grid-auto-rows: auto;
  grid-template-rows: 50px auto;
}

#item-grid{
	grid-column: 1;
	grid-row: 2;
}

#map{
	grid-column: 3;
	grid-row: 2;
}

.map-portal{
	position: absolute;
	opacity: 0.5;
	cursor:pointer;
}

